<div class='form-group'>
    <div class='col-md-3'>Amount</div>
    <div class='col-md-5'>{{input value=model.price class='form-control'}}</div>
</div>
<button class='btn btn-success' {{action 'save' model}}>Save</button>

{{outlet}}
